@import url("https://fonts.googleapis.com/css?family=Catamaran");
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 0.8rem; }

.login-bar {
  background-color: black;
  color: white; }
  .login-bar a:link, .login-bar a:visited {
    color: white;
    margin: 0 2vw; }
  .login-bar a:hover {
    color: lightblue;
    margin: 0 2vw; }

.site-nav-bar {
  align-items: center; }
  .site-nav-bar .nav-item {
    margin: 0 2vw; }
  .site-nav-bar .nav-item:hover {
    color: blue; }
  .site-nav-bar .current:link, .site-nav-bar .current:visited {
    color: black; }
  .site-nav-bar .other:link, .site-nav-bar .other:visited {
    color: grey; }

.top-banner {
  background-image: url("../images/car-banner.jpg");
  height: 250px;
  display: flex;
  align-items: center; }

.banner-text {
  margin-left: 8vw;
  padding: 5px;
  color: white;
  font-size: 2.5rem;
  font-weight: 900; }

.search-form {
  display: inline; }
  .search-form .form-control {
    margin: 20px 1px 20px 1vw;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #ddd;
    border: 1px solid #333;
    font-color: #333;
    font-size: 0.8rem; }
  .search-form .btn {
    font-size: 0.8rem;
    margin: 20px 1px;
    padding: 3px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #aaa;
    color: white; }

.page-content {
  margin: 0 3vw; }
