@import url("https://fonts.googleapis.com/css?family=Catamaran");
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 0.8rem; }

.login-bar {
  background-color: black;
  color: white; }
  .login-bar a:link, .login-bar a:visited {
    color: white;
    padding: 0 10px; }
  .login-bar a:hover {
    color: lightblue;
    padding: 0 10px; }

.top-banner {
  margin-top: 80px;
  background-image: url("../images/car-banner.jpg");
  height: 250px;
  display: flex;
  justify-content: left;
  align-items: center; }

.banner-text {
  margin-left: 2vw;
  padding: 5px;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 10px 5px 10px 5px; }

.search-form {
  display: inline;
  margin: 10px 5px 10px 5px; }
  .search-form .form-control {
    border-radius: 6px;
    padding: 2px 5px 2px 5px; }
  .search-form .btn {
    padding-left: 5px; }
